* {
    box-sizing: border-box;
  }
  body {
    background-color: #34495e;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 0;
    overflow: hidden;
    color: #fff;
  }
  .game-container {
    padding: 20px 30px;
    position: relative;
    margin: auto;
    height: 350px;
    width: 450px;
  }
  
  .figure-container {
    fill: transparent;
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
  }
  
  .figure-part {
    display: none;
  }
  
  .wrong-letters-container {
    float: right;
  }
  
  .wrong-letters-container p {
    font-size: 24px;
  }
  
  .words {
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 40%;
    transform: translate(-20%);
  }
  
  .letter {
    border-bottom: 3px solid #2980b9;
    display: inline-flex;
    font-size: 26px;
    align-items: center;
    justify-content: center;
    margin: 3px;
    height: 50px;
    width: 20px;
  }
  .pop-up {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    max-width: 450px;
    /* width: 75%; */
    height: 200px;
    padding: 20px;
    line-height: 1.6;
    margin: auto;
    background-color: #2980b9;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
  }
  
  .pop-up.visible {
    display: flex;
  }
  
  .pop-up p {
    font-size: 18px;
    margin: 0;
  }
  
  .pop-up .play {
    font: inherit;
    font-size: 16px;
    padding: 15px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 150px;
    background-color: #fff;
    border-radius: 4px;
    color: #2980b9;
    border: none;
    outline: none;
    transition: opacity 200ms ease-in;
  }
  .play:hover {
    opacity: 0.75;
  }
  
  .notification {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 0 0;
    color: #fff;
    padding: 15px 20px;
    position: absolute;
    bottom: -50px;
    transition: transform 0.3s ease-in-out;
  }
  
  .notification p {
    margin: 0;
  }
  
  .notification.show {
    transform: translateY(-50px);
  }
  