* {
    margin: 0;
    padding: 0;
}
.frame {
    width: 600px;
    margin:  0 auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 3px;
    border: 1px solid #efefef;
    margin-top:20px;
}
.btn {
    border: 0;
    border-radius: 5px;
    background-color: #2196F3;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 22px;
    margin-bottom: 10px;
}
.btn:hover {
    background-color: #2195f367;
    color: white;
  }
.box {
    border-radius: 3px;
    height: 260px;
    border: 1px solid #868686;
    position: relative;
    padding: 97px;
}
.balloon {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #2196F3;
    margin: 10px;
}